@charset "utf-8";
/* main.css stylesheet */


/***** BORDER BOX FIX *****
Allows border / padding to be included in the defined dimensions of an element */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/***** END BORDER BOX FIX */


/***** FLUID IMAGES *****
Tells images not to push out the bounds of thier containters */

img, object, embed, video {
	max-width: 100%;
}

html {
	font-size: 62.5%;
}

/***** STYLEING MY SITE ******/
body {
	background-color: #333333;
}
#container {
	margin: 0 auto; max-width: 1600px;
}

/**** LANDINGPAGE *****/
.navContainer {
	padding: 2% 2% 0 2%;

	display: flex; flex-direction: row;
	justify-content: space-between; align-items: center;
}
.navElem li{
	color: #87c663; font-size: 1.6em; font-family: 'quattrocento_sansregular';
	display: inline;
}
a {
	color:  #87c663; text-decoration: none;
}
.heroContainer {
	background-image: url("../assets/bgcland.png");
	padding-bottom: 12%; box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.32);

	background-position: center; background-repeat: no-repeat; background-size: cover;

}

.nameContainer {
	color: white; text-align: center; border: solid 1px; border-color: #87c663;
	padding: 2%; margin: 15% 30% 7% 30%;
}
.ek {
	font-size: 5em; color: #ffffff; font-family: rufinabold;
	padding-bottom: 3%
}
.title {
	font-size: 24px; color: #66cc66; font-family: 'quattrocento_sansregular';

}
/**** ABOUTME ****/
.aboutMeContainer {
	background-color: #333333; box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.32);
	display: flex; flex-direction: row; justify-content: center; padding-bottom: 10%;

}
.rightSide, .leftSide {
	margin-top: 10%;
}
.rightSide {
	font-size: 2em; color: #ffffff; padding-top: 9%;  font-family: 'quattrocento_sansregular'; line-height: 2;
}
.leftSide {
	color: #99ff99; font-size: 9em; font-family: 'rufinabold';
	text-align: right; margin-right: 3%; line-height: 1.2;
}
.emailSpan {
	text-decoration: none;
}
/***** BUTTONROW *****/
.buttonRow {
	display: flex; flex-direction: row; margin-top: 2%;
}
.getButton {
	color: #99cc66; font-size: 16px;
	border-width: .5px; border-color: #99cc66; border-style: solid; background-color: #333333;
	text-align: center; padding: 10px; margin-right: 20px;
}

/**** GETINTOUCH ****/
.getInTouch {
	background-image: url("../assets/bgcland.png");
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.32);

	background-position: center; background-repeat: no-repeat; background-size: cover;

}



/***** RESUME *****/
.heading {
	color: #99cc66; font-size: 4em; border-bottom : solid 1px;
	margin-top: 5%; padding-left:2%; padding-bottom: .5%
}
.resumeContainer {
	background-color: #ffffff; margin:8%;
}
.resumeNameCon {
	background-color: rgba(51, 51, 51, 0.64);
	margin-top: 5%; padding: 1%;
}
.nameCon {
	color: #ffffff; text-align: center; border: solid 1px; border-color: #87c663;
	padding: 2%; margin: 3% 30%;
}
.flexContainer {
	display: flex; padding-bottom: 2%; padding-top: 3%; margin-left:12%;
}
.flexLeft {
	text-align: right; border-right: solid 1px; border-color: #87c663; padding-right: 2%;
}
.flexRight {
    padding-left: 2%; margin-right: 20%;
}
.leftDescr {
	font-size: 1.6em; font-family: 'quattrocento_sansregular'; color: #999999; line-height: 2;
}
.resHead {
	color: #333333; font-size: 20px; margin-bottom: 3%; font-family: 'rufinabold'; margin: 2% 0;
}
.businessName {
	font-size: 1.8em; color: #333333; font-family: 'quattrocento_sansbold';
}
.jobTitle {
	font-size: 1.6em; margin: 2% 0; font-family: 'quattrocento_sansregular'; color: #999999;
}
.jobDescription {
	margin: 1% 2% 0 0; font-size: 1.6em; font-family: 'quattrocento_sansregular'; color: #999999;
	line-height: 2;
}

.unorderedListDescription {
	margin: 1% 2% 4% 4%; font-size: 1.6em; font-family: 'quattrocento_sansregular'; color: #999999;
	list-style-type: disc; line-height: 2;
}

/***** PORTFOLIO *****/
.grid-container {
  display: grid;
  grid-gap: 50px 100px;

}
.grid-item {
 grid-column-start: 1;
 grid-column-end: 2;
}






**************************************************************************************
/****************************** FONTS ***********************************************/
**************************************************************************************
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on May 26, 2020 */
@font-face {
    font-family: 'quattrocento_sansbold';
    src: url('../assets/fonts/quattrocentosans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/quattrocentosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quattrocento_sansbold_italic';
    src: url('../assets/fonts/quattrocentosans-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/quattrocentosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quattrocento_sansitalic';
    src: url('../assets/fonts/quattrocentosans-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/quattrocentosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('../assets/fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/quattrocentosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rufinabold';
    src: url('../assets/fonts/rufina-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/rufina-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rufinaregular';
    src: url('../assets/fonts/rufina-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/rufina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
